body{
    background-color:skyblue !important;
}
.login{
font-family:Courier;
color:darkblue;
margin-top:10px;
}
.formular{
	margin-top:50px;
}
.btn{
	margin-bottom:15%;
}
.erfolgmsg{
	margin-top:25%;
}
.errormsg{
	background-color:deepskyblue;
	height:30px;
	padding-top:5px;
}
.formular {
	text-align:left;
}
.info{
	border-width:5px;
	border-color:red;
	border-style:solid;
}
.ipwarning{
	background-color:goldenrod;
	height:25px;
	padding-top:5px;
}
.beta{
	background-color:goldenrod;
	height:25px;
	padding-top:5px;
}