body{
	background-color:lightblue !important;
}
.center{
	text-align:center;
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}
.text{
margin-left:25%;
margin-right:25%;
}
.player_other{
	height:50px;
	width:1000px;
	background-color:red;
}
.player{
	margin-top:1%;
}
.download{
}
.fehler{
	margin-top:25%;
}
.color{
	color:midnightblue !important;
}