.head{
	background-color:limegreen !important;
	margin:0 auto; 
	text-align:center;
}
.head b{
	font-size:60px;
}
.field{
	background-color:red !important;
	margin-top:100px;
}

	

	
	
	
	
	
	
	
	
	
#headpicture{ /*Bild abrunden*/

}
